.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  h1 {
    color: white;
  }


  .button {
    width: 10%;
    margin-bottom: 30px;
    color: black;
    background-color: #37ffc6;
    font-family: 'Titillium Web', sans-serif;
}

.button:hover {
  color: white;
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  cursor: pointer;
}

  

.MuiCardContent-root {
  display: flex !important;
  flex-direction: column!important;
  flex-wrap: nowrap!important;
  align-content: center!important;
  justify-content: center!important;
  align-items: center!important;
}