@import url('https://fonts.googleapis.com/css?family=Titillium Web');

.button {
    width: 30%;
    margin-bottom: 30px;
    color: white;
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
}

.button:hover {
    background-color: #37ffc6;
}
